body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

html {
  background: url("./media/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  justify-content: ;
}
.card {
  padding: 20px;
  background: #fff;
  max-width: 250px;
  max-height: 200px;
  border-radius: 20px;
  margin: 30px 50px;
  box-shadow: 0 7px 30px -10px 
  rgba(150, 170, 180, 0.5);
}

h2 { /* name */  
  color: lightcoral;
}

h4 { /* detail */  
  color: lightpink;
}

p { /* description */  
 color: lightblue
}

button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 30px
}